<% provide(:title, 'Rental Application') %>
<div class="hero-unit">
  <h1><%= yield(:title) %></h1>

</div>
<%= render 'form' %>

<div class="row">
    <div class="span12">
        <div class="well">
          <center>
            <%= link_to '<< Back To Availabilities', apartments_path, class: "btn btn-primary" %>
          </center>
        </div>
    </div>
</div>