<div class="center hero-unit">
  <h1>Application was received!</h1><hr>
  <p>
  	Your application has been received and a confirmation email has been sent to the address you provided.
  </p>
  <p>
  	We will be in touch soon to follow up on the status of your application.
  </p>
  <p>
  	<small>Originally submitted: <%= @apply.created_at %></small>
  </p>

<%= link_to '<< Back to all available units', avail_path, class: "btn btn-primary" %>
