<!-- app/views/appforms/new.html.erb -->
 
<h1>New Tenant Application Form</h1>

<p>Please fill out the form below and we'll get back to you as soon as possible.</p>
 
<%= render 'form', :appform => @appform %>