<% unless user_signed_in? %>

	<!--Not Logged in -->

		<div class="center hero-unit">
			<h1>Welcome the Via Deca Website! </h1>
			<p>
				Via Deca Partners is a world-renowed rental property management company based in Santa Monica, CA. We take pride in our well maintained units and our quick responsiveness to tenants.
			</p>

		</div>

<% else %>

	<!--Tenants Section -->

		<div class="center hero-unit">
			<h1>Welcome back to the Tenant's Section! </h1>
			<p>
				Via Deca Partners is a world-renowed rental property management company based in Santa Monica, CA. Operating since 2010, we pride ourselves on customer service and prompt service. 
			</p>

		</div>
<% end %>
