<% provide(:title, 'Home') %>
<% unless user_signed_in? %>

	<!--Not Logged in -->

		<div class="hero-unit">
			<center>
			<h1 class="brand">Via Deca Partners</h1>
			</center>
		</div>

		<div class="hero-unit">
			<p>
				Via Deca Partners is a world-renowed rental property management company based in Santa Monica, CA. We take pride in our well maintained units and our quick responsiveness to tenants.
			</p>
			<hr style="border: none; background-color: black; height: 1px;">
			<center>
			<p>
				<%= link_to "View Availabilities", avail_path, class: "btn btn-primary btn-large" %>
			</p>
			</center>
		</div>

<% else %>

	<!--Tenants Section -->

		<div class="center hero-unit">
			<center>
				<h1>Tenant's Section</h1>
			</center>
		</div>
		<div class="well">
			<h2>Welcome back, <%= current_user.name.capitalize %>!</h2><hr>
			<div class="row">
				<div class="span4">
					<h2> Repairs </h2>
					<p><%= link_to "New Repair Request +", new_repair_path, class: "btn btn-primary" %> </p>
					<p><%= link_to "View Existing Repair Status", repairs_path, class: "btn btn-primary" %> </p>
				</div>
				<div class="span4 offset2">
				</div>
			</div>

		</div>
<% end %>
