<% provide(:title, 'Home') %>
<% unless user_signed_in? %>

	<!--Not Logged in -->

		<div class="hero-unit">
			<center>
			<h1 class="brand">Via Deca Partners</h1>
			</center>
		</div>

		<div class="hero-unit">
			<p>
				Via Deca Partners is a world-renowed rental property management company based in Santa Monica, CA. We take pride in our well maintained units and our quick responsiveness to tenants.
			</p>
			<hr style="border: none; background-color: black; height: 1px;">
			<center>
			<p>
				<%= link_to "View Availabilities", avail_path, class: "btn btn-primary btn-large" %>
			</p>
			</center>
		</div>

<% else %>

	<!--Tenants Section -->

		<div class="center hero-unit">
			<h1>Welcome back to the Tenant's Section! </h1>
			<p>
				Via Deca Partners is a world-renowed rental property management company based in Santa Monica, CA. Operating since 2010, we pride ourselves on customer service and prompt service. 
			</p>

		</div>
<% end %>
