		<div class="center hero-unit">
			<h1>Welcome back to the Tenant's Section! </h1>
			<p>
				Via Deca LLC is a world-renowed rental property company based in Santa Monica, CA. Operating since 2010, we pride ourselves on customer service and prompt service. 
			</p>

		</div>