<% provide(:title, 'Rent Rolls') %>

<% if current_user.admin? %>
<div class="well">
  <h1><%= yield(:title) %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Month</th>
      <th>Total Rent Due</th>
      <th>Total Rent Paid</th>
      <th>Outstanding Balance</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @rolls %>
  </tbody>
</table>

<br>
<center>
  <%= link_to 'New Rent Roll +', new_roll_path, class: "btn btn-info" %>
</center>
</div>
<% else %>

        <div class="row">
      <div class="span12">
          <div class="well">
            <center>
            <h1>Oops! This page doesn't exist!</h1>
            </center>
          </div>
      </div>
    </div>

<% end %>
