<% provide(:title, 'Contact Us') %>
<!-- app/views/inquiries/new.html.erb -->
 
<h1><%= yield(:title) %></h1><hr>
<p>Have a question or comment? Please complete the form below and we will get back to you as soon as possible!</p>
 
<%= render 'form', :inquiry => @inquiry %>