<!-- app/views/inquiries/thank_you.html.erb -->
 <div class="center hero-unit">

	<h1>Thank you!</h1>
	<p>Your message has been sent and we'll be in touch as soon as possible.</p>
	<hr>

    <%= link_to '<< Back to main page', root_path, class: "btn btn-primary btn-large" %>

</div>