<h1>Repair Center</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="10%">Ticket #</th>
      <th>Description</th>
      <th width="10%">Status</th>
      <th width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @repairs %>
  </tbody>
</table>

<br>

<%= link_to 'New Repair', new_repair_path %>
