<h1>Repair Center</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="10%">View Ticket #</th>
      <th>Description</th>
      <th width="10%">Created</th>
      <th width="10%">Status</th>
      <th width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @repairs %>
  </tbody>
</table>

<br>

  <div class="row">
      <div class="span12">
          <div class="well">
            <center>
            <%= link_to 'Create New Repair Request', new_repair_path, class: "btn btn-primary btn-large" %>
            </center>
          </div>
      </div>
  </div>
