<% provide(:title, 'New Repair Request') %>

<h1>Repair Center</h1>

<%= render 'form' %>

<div class="row">
    <div class="span12">
        <div class="well">
          <center>
            <%= link_to '<< Back To Existing Repairs', repairs_path, class: "btn btn-primary" %>
          </center>
        </div>
    </div>
</div>
