<h1>Repair Center</h1>

<% if current_user == @repair.user %>
  <div class="row">
      <div class="span12">
          <div class="well">
            <center>
              <h1>Ticket # <%= @repair.id %></h1>
            </center>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="span12">
          <div class="well">
            <h3>Created by: <%= current_user.name %></h1>
          </div>
      </div>
  </div>

<% else %>
  <div class="row">
      <div class="span12">
          <div class="well">
            <center>
            <h1>Oops! This isn't your ticket!</h1>
            </center>
          </div>
      </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_repair_path(@repair) %> |
<%= link_to 'Back', repairs_path %>
