<% provide(:title, 'Availabilities') %>

<div class="hero-unit">
	<h1 align="center"><%= yield(:title) %></h1>

</div>
	<small class="pull-left">
		<%= will_paginate @apartments %>
	</small>
	
	  <%= render @apartments %><br>

	<small class="pull-left">
		<%= will_paginate @apartments %>
	</small>
	