<h1>Available Apartments</h1>
<small class="pull-left">
	<%= will_paginate @apartments %>
</small>
<div id="apartments">
  <%= render @apartments %><br>
</div>

<small class="pull-left">
	<%= will_paginate @apartments %>
</small>