
<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="container">
			<center>
			<small>
			<%= link_to "Via Deca", root_path %> © TD 2013
			</small>
			</center>
		</div>
	</div>
</div>